h1 {
	color: red;
}

p {
	color: green;
}


.menu_ul {
	margin: 0;
	padding: 4px;
	list-style-type: none;
	border: 3px;
	border-color: black;
}

.menu li {
	display: inline;
	margin-right: 5px;
	padding: 3px;
}

.menu li a{
	text-decoration: none;
}

.menu{
	margin: 0 auto;
	width: 1300px;
	height: 26px;
}

.container{
	margin: 0 auto;
	width: 1300px;
	background-color: #008b8b;
}