{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	{% block tytle %}
	{% endblock %}
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
</head>
<body>

<div class="header">
	<img src="/static/images/star.jpg" alt="My image" width="110" height="110">
	<div class="menu">
		<ul class="menu_ul">
			<li><a href="/">О Ленине</a></li>
			<li><a href="{% url 'study' %}">Учеба</a></li>
			<li><a href="{% url 'work' %}">Работа</a></li>
		</ul>
	</div>
</div>
<div class="cls"></div>
<div class="main">
	{% block main_info %}
	{% endblock %}
</div>
<div class="cls"></div>

<div class="footer">
	<div class="copyrights">
		<p>&copy; victorptrv learning site ;)</p>
	</div>
	
</div>

</body>
</html>